:root {
  --ff-heading: 'Crete Round', serif;
  --ff-body: 'ABeeZee', sans-serif;
  --clr-gray: #e0e0e0;
  --clr-gray-light: #d9dbde;
}

html {
  background: #e9f3fa;
}

body {
  font-family: var(--ff-body);
}